<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>西财新闻小叮当</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script src="/static/js/alertJs.js"></script>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">

</head>
<body>
<div id="public_modal_div"></div>
<!--顶栏导航-->
<header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="row">
                <!--顶栏标题-->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">西财新闻小叮当</a>
                </div>
                <!--顶栏选项-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">关于我们</a></li>
                    </ul>

                    <!--右边选项-->
                    <ul class="nav navbar-nav navbar-right">
                      <!--  <li><a href="#">哈哈哈</a></li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                欢迎您, <span href="#"  th:text="${#request.getUserPrincipal().getName()}">a</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout"> 退出登录</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container-fluid">

    <div class="row" style="background: #1b6d85;">
        <div class="col-md-2 col-sm-2 col-xs-2 left_nav"     >
            <ul id="main_nav" class="nav nav-tabs nav-stacked" >


                <li><a href="javascript:void(0);" onclick="onloada('template/template.html',this)"><i class="glyphicon glyphicon-user"></i>合同模板管理</a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-fire"></i>
                        关于系统
                    </a>
                </li>
            </ul>
            <script>
                $("#main_nav ").append()
            </script>
            <div id="footer" class="row row-pb-md" style="margin: 0;">
                <div class=" col-md-12 text-center copyright py-2 lead"
                     style="margin-top: 40px;margin-bottom: 0;color: #383838">

                    <span>西财新闻小叮当</span>
                    <span></span>
                </div>
            </div>
        </div>

        <div class="col-md-10  col-sm-10 col-xs-10" style="height: 100%;padding: 4px;">
            <nav id="main_context_nav" class="navbar navbar-default" >
                <div class="container-fluid">
                    <div >
                        <ul class="nav navbar-nav" >



                        </ul>
                    </div>
                </div>
            </nav>
            <div id="main_context" class="main_context"  style=" ;width: 100%;height:800px"></div>

        </div>
    </div>

</main>

</body>

<script> //onloada('hrm/emp/list.html',$("<a><i class=\"glyphicon glyphicon-user\"></i>个人档案管理</a>"))</script>
</html>