<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.agile.campusnews.app.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="team.agile.campusnews.app.model.News">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate" />
    <result column="author" jdbcType="INTEGER" property="author" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, context, title, pubdate, author, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectNewsOnAll"  resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from news
      where all = true
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.agile.campusnews.app.model.News">
    insert into news (id, context, title, 
      pubdate, author, remark
      )
    values (#{id,jdbcType=INTEGER}, #{context,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{pubdate,jdbcType=TIMESTAMP}, #{author,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.agile.campusnews.app.model.News">
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        #{author,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.agile.campusnews.app.model.News">
    update news
    <set>
      <if test="context != null">
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.agile.campusnews.app.model.News">
    update news
    set context = #{context,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>