<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.agile.campusnews.app.dao.UserOrganzieMapper">
  <resultMap id="BaseResultMap" type="team.agile.campusnews.app.model.UserOrganzie">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="schoolOS_is" jdbcType="INTEGER" property="schoolosIs" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, schoolOS_is
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_schoolos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_schoolos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="team.agile.campusnews.app.model.UserOrganzie">
    insert into user_schoolos (id, user_id, schoolOS_is
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{schoolosIs,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="team.agile.campusnews.app.model.UserOrganzie">
    insert into user_schoolos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="schoolosIs != null">
        schoolOS_is,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="schoolosIs != null">
        #{schoolosIs,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.agile.campusnews.app.model.UserOrganzie">
    update user_schoolos
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="schoolosIs != null">
        schoolOS_is = #{schoolosIs,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.agile.campusnews.app.model.UserOrganzie">
    update user_schoolos
    set user_id = #{userId,jdbcType=INTEGER},
      schoolOS_is = #{schoolosIs,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>